

@{
    ViewData["Title"] = "Home Page";    
    int i=+ 0;
}
<style>
    
#chart {
  max-width: 1250px;
  margin: 35px auto;
}

</style>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 <div class="change">
  
  </div>
  <!-- etiquetas html donde se deben crear atributos con nombre data-info hasta data-info[n] y asignarle la informacion a mostrar en la vista, debe contener el id="data"-->
<label id="data" data-info1="@ViewBag.Json"  data-info2="@ViewBag.Sales" " data-info3="@ViewBag.Sales"  data-names1="migrafica"   data-info4="@ViewBag.Sales" data-info5="@ViewBag.Json"></label>


<!-- crear mismo número de etiqueta html igual al número de atributos data-info, uno para cada informacion a procesar, cada etiqueta contendra un elemento canva con una grafica estadistica se le debe colocar las clases parentContainer y parentContainer[n] ademas de el tipo de grafico que puede ser de tipo (line, bar,pie, doughnut), si es un grafico para comparar un tipo de iformacion respecto algun intervalo se debe agregar la clase multiline, si es un grafico sencillo se debe agregar el atributo data-title para asignarle el un titulo al grafico -->
  <div class="parentContainer parentContainer0  line multiline" data-names="2018, 2019, 2020">  
    
 </div>
  <div class="parentContainer parentContainer1 bar"  data-title="mi grafica" >  
    

 </div>

 <div class="parentContainer parentContainer2 bar" data-title="gallo" >  
    

 </div>

<div class="parentContainer parentContainer3  line " data-names="2023, 2024">  


</div>
<div id="chart">
</div>